header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}

header > nav{
    width: 60%;
    height: 70%;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    backdrop-filter: blur(2px);
}

header > nav > div{
    width: 120px;
    height: 90%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

header > nav > div > a{
    font-family: "Outfit", sans-serif;
    color: black;
    text-decoration: none;
}

header > nav > div:hover{
    width: 150px;
    height: 95%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 4px 8px black;
}

#grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    position: absolute;
    top: 0;
    opacity: 0.1;
    z-index: 1;
}

#grid > div{
    border: 0.5px solid black;
    transition-duration: 1s;
}

#circle{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    /*border: 0.5px solid black;*/
    position: absolute;
    left: 450px;
    top: 125px;
    animation: circleAnimation 15s linear infinite;
}

#circle > div{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(243, 244, 247);
    position: absolute;
    animation: divCircleAnimation 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#circle  div:hover{
    transform: scale(1.3);
}

#circle > div:nth-child(1){
    left: 400px;
    top: 30px;
}

#circle > div:nth-child(2){
    left: 40px;
    top: 40px;
}

#circle > div:nth-child(3){
    left: 220px;
    top: -30px;
}

#circle > div:nth-child(4){
    left: -20px;
    top: 200px;
}

#circle > div:nth-child(5){
    right: -20px;
    top: 170px;
}

#circle > div:nth-child(6){
    left: 170px;
    bottom: -10px;
}

#circle > div:nth-child(7){
    left: 30px;
    bottom: 90px;
}

#circle > div:nth-child(8){
    right: 0px;
    bottom: 130px;
}

#circle > div:nth-child(9){
    right: 110px;
    bottom: 0px;
}

.tech-icons{
    font-size: 80px;
}

@keyframes circleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes divCircleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
