header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}

#mobile-nav{
    display: none;
}

body{
    cursor: url("assets/images/cursor.png") 16 16 , auto;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

html {
    scroll-behavior: smooth;
}

#desktop-nav{
    width: 60%;
    height: 70%;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    backdrop-filter: blur(2px);
}

#desktop-nav > div{
    width: 60%;
    height: 90%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

#desktop-nav > div > a{
    font-family: "Outfit", sans-serif;
    color: black;
    text-decoration: none;
}

#desktop-nav > div:hover{
    width: 75%;
    height: 95%;
    font-size: 22px;
    box-shadow: 2px 4px 8px black;
}

#grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    position: relative;
    top: 0;
    opacity: 0.1;
    z-index: 1;
}

#grid > div{
    border: 0.5px solid black;
    transition-duration: 1s;
}

#circle{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    /*border: 0.5px solid black;*/
    position: absolute;
    /*left: 450px;*/
    /*top: 120px;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: circleAnimation 15s linear infinite;
}

#circle > div{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(243, 244, 247);
    position: absolute;
    animation: divCircleAnimation 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#circle > div:nth-child(1){
    left: 390px;
    top: 30px;
}

#circle > div:nth-child(2){
    left: 40px;
    top: 40px;
}

#circle > div:nth-child(3){
    left: 220px;
    top: -30px;
}

#circle > div:nth-child(4){
    left: -20px;
    top: 200px;
}

#circle > div:nth-child(5){
    right: -20px;
    top: 170px;
}

#circle > div:nth-child(6){
    left: 170px;
    bottom: -10px;
}

#circle > div:nth-child(7){
    left: 30px;
    bottom: 90px;
}

#circle > div:nth-child(8){
    right: 0px;
    bottom: 130px;
}

#circle > div:nth-child(9){
    right: 110px;
    bottom: 0px;
}

.tech-icons{
    font-size: 80px;
}

.text-container{
    position: absolute;
    width: 200px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 1;
}

#text-1{
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    padding: 30px;
}

#text-2{
    font-family: "Petit Formal Script", cursive;
}

footer{
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    position: relative;
}

.blotter {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(2px);
    z-index: 2;
}

#test{
    width: 100%;
    height: 10vh;
    background-color: red;
    position: relative;
}

#video-div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-div video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 1;
}

#footer-content {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
    margin-top: 30px;
    transition-duration: 1s;
}

footer a:hover{
    font-size: 20px;
}

footer nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p{
    text-decoration: underline;
}

.content-div{
    height: 80%;
    font-family: "Outfit", sans-serif;
}

main{
    position: relative;
    background-color: white;
}

.project-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: white;
}

.main-div{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.text-div{
    width: 50%;
    height: 70%;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
}

.project-text-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    height: 100%;
}

.tag-div{
    width: 100%;
    height: 20%;
}

.tags{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-top: 5px;
    font-family: "Outfit", sans-serif;
    color: white;
    transition-duration: 1s;
    box-shadow: 2px 4px 8px black;
    animation: tagAnimation 1s alternate infinite;
}

.tags:hover{
    width: 120px;
    height: 30px;
    font-size: 20px;
}

#tag-1{
    background-color: sandybrown;
}

#tag-2{
    background-color: royalblue;
}

#tag-3{
    background-color: darkgreen;
}

#tag-4{
    background-color: deeppink;
    margin-top: 30px;
}

#tag-5{
    background-color: sandybrown;
}
#tag-6{
    background-color: royalblue;
}
#tag-7{
    background-color: darkgreen;
}
#tag-8{
    background-color: deeppink;
}

main > section > div > div:nth-child(2) > div:nth-child(2) > nav{
    margin-left: 350px;
}

.tag-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-div{
    width: 50%;
    height: 100%;
}

#zany-text{
    margin-top: 100px;
    margin-left: 400px;
    width: 100%;
}

.project-image{
    width: 300px;
    position: absolute;
    z-index: 1;
    transition-duration: 1s;
    border-radius: 20px;
    box-shadow: 2px 4px 8px black;
}

.project-video{
    width: 400px;
    position: absolute;
    z-index: 1;
    transition-duration: 1s;
    box-shadow: 2px 4px 8px black;
    border: none;
}
.project-video:hover{
    z-index: 2;
    width: 500px;
}

#zany-video{
    margin-top: 100px;
    margin-left: 350px;
}

.project-image:hover{
    z-index: 2;
    transform: rotate(20deg);
    width: 500px;
}

#zany-image-1{
    left: 100px;
}

#zany-image-3{
    top: 450px;
    left: 100px;
}

#zany-image-4{
    top: 300px;
    left: 70px;
}

.project-title{
    font-family: "Outfit", sans-serif;
    color: black;
    font-size: 30px;
    padding: 30px;
}

main > section:nth-child(2) > p{
    text-align: right;
}

#weda-text{
    margin-left: 100px;
}

#weda-image-1{
    z-index: 1;
    margin-left: 100px;
}

#weda-image-2{
    margin-top: 150px;
    margin-left: 100px;
    z-index: 0;
}

#weda-text-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 70%;
}

#weda-video{
    position: absolute;
    right: 350px;
}

#weda-tags{
    margin-left: 40px;
    width: 50%;
}

#weda-section{
    height: 600px;
}

#tag-8{
    margin-top: 30px;
}

#project-3-text-div{
    display: flex;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    padding: 50px;
    justify-content: center;
}

#project-3-video-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.project-3-video {
    width: 500px;
    border-radius: 16px;
    position: absolute;
    box-shadow: 2px 4px 8px black;
    transform: translateX(100px);
}

#tutor-video-2 {
    transform: translateX(-450px) rotate(-10deg);
    z-index: 0;
}

#tutor-video-1 {
    transform: translateX(0);
    z-index: 1;
    width: 800px;
    transition-duration: 1s;
}

#tutor-video-1:hover{
    width: 850px;
}

#tutor-video-3 {
    transform: translateX(450px) rotate(10deg);
    z-index: 0;
}

#ai-project-section{
    height: 1000px;
}

.project-3-tag-nav{
    display: flex;
    justify-content: space-evenly;
}

#tag-9{
    background-color: royalblue;
}
#tag-10{
    background-color: indianred;
}
#tag-11{
    background-color: black;
}
#tag-12{
    background-color: darkviolet;
}
#tag-13{
    background-color: darkgoldenrod;
}

main > section:nth-child(4) > p{
    text-align: right;
}

#oop-video1{
    z-index: 1;
    margin-left: 220px;
    margin-top: 50px;
    width: 300px;
}

#oop-text-div{
    margin-left: 350px;
    height: 60%;
}

#oop-videos{
    margin-left: 40px;
}

#tag-14{
    background-color: sandybrown;
}
#tag-15{
    background-color: orangered;
}
#tag-16{
    background-color: hotpink;
}

#oop-section{
    position: relative;
    height: 600px;
}

#UI-section-title{
    font-family: "Outfit", sans-serif;
    font-size: 80px;
    text-align: center;
    animation: uiTextAnimation 4s infinite alternate ease-in-out;
    /*text-shadow:*/
    /*        0px 2px 4px rgba(0,0,0,0.3),*/
    /*        0px 8px 16px rgba(0,0,0,0.2),*/
    /*        0px 20px 40px rgba(0,0,0,0.15);*/

    background: linear-gradient(90deg,black, black,black,black,gray,black, white, blue, deeppink, darkviolet, deepskyblue);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 100px;
    margin-bottom: 10px;
}

#UI-section-desc{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 0px;
}

#ui-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
}

#ui-div-1{
    margin-top: 80px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 600px;
    border-left-color: white;
    display: flex;
    flex-direction: row;
}

#ui-div-2{
    margin-top: 80px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 550px;
}

#ui-image-1{
    width: 200px;
    /*transform: translateY(-100px) rotate(-10deg) translateX(-600px);*/
    animation: moveOnScrollPhone linear;
    animation-timeline: scroll();
    animation-fill-mode: both;
}

#ui-image-2{
    width: 450px;
    /*transform: translateY(200px) rotate(0deg) translateX(100px);*/
    animation: moveOnScrollMac linear;
    animation-timeline: scroll();
    animation-fill-mode: both;
}

#ui-image-1-desc{
    margin-top: 80px;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
}

#ui-image-2-desc{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
    transform: translateY(-40px);
}

#tag-17{
    background-color: violet;
    margin-top: 30px;
    margin-left: 50px;
}
#tag-18{
    background-color: royalblue;
    margin-left: 50px;
    margin-top: 30px;
}

#tag-19{
    background-color: darkviolet;
    margin-left: 20px;
}
#tag-20{
    background-color: indianred;
    margin-left: 20px;
}
#tag-21{
    background-color: yellow;
    margin-left: 20px;
}
#ui-tag-nav{
    transform: translateY(-40px) translateX(10px);
}
/*#portfolio-video{*/
/*    position: absolute;*/
/*    width: 366px;*/
/*    transform: translateY(-20px) translateX(-308px);*/
/*}*/

#ai-companion-text{
    font-family: "Outfit", sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 50px;
}

@media all and (max-width: 480px) {
    #desktop-nav{
        display: none;
    }

    #mobile-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        height: 70%;
    }

    header{
        display: flex;
        justify-content: center;
    }
}

@keyframes moveOnScrollPhone {
    from {
        transform: translateY(-10px) rotate(-10deg) translateX(315px);
    }
    to {
        transform: translateX(-100px) translateY(-100px);
    }
}

/*@keyframes moveOnScrollvideo {*/
/*    from {*/
/*        transform: translateY(-20px) translateX(-308px);*/
/*    }*/
/*    to{*/
/*        transform: translateY(150px);*/
/*    }*/
/*}*/

@keyframes moveOnScrollMac {
    from {
        transform: translateY(400px) rotate(0deg) translateX(100px);
    }
    to {
        transform: translateY(-150px) translateX(100px);
    }
}

@keyframes uiTextAnimation {
    from{
        background-position: 0%;
    }
    to{
        background-position: 100%;
    }
}

@keyframes circleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes divCircleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

@keyframes tagAnimation {
    from{
        transform:translateY(2vh);
    }
    to{
        transform:translateY(0);
    }
}

@media all and (max-width: 520px) {
    #desktop-nav{
        display: none;
    }
    #mobile-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        font-family: "Outfit", sans-serif;
    }
    header{
        background-color: white;
        position: fixed;
    }
    #circle{
        display: none;
    }
    #text-container{
        width: 300px;
        height: 400px;
    }
    #text-container > #text-1{
        font-size: 5px;
    }
    #text-container > #text-2{
        font-size: 100%;
        margin-top: 300px;
    }
    #zany-image-1,#zany-image-2,#zany-image-3,#zany-image-4{
        display: none;
    }
    #zany-video{
        justify-content: center;
        margin: 0;
        transform: translateX(70px);
        width: 100%;
        position: relative;
    }
    .main-div{
        flex-direction: column;
    }
    #ui-section{
        flex-direction: column;
    }
    #tutor-video-2, #tutor-video-3{
        display: none;
    }
    #zany-text, #weda-text{
        margin: 0;
        width: 100%;
        padding: 10px;
    }
    .project-text-div{
        flex-direction: column;
    }
    .image-div{
        width: 70%;
    }
    .text-div{
        width: 100%;
    }
    .tags{
        margin: 0;
        transform: translateX(100px);
    }
    main > section > div > div:nth-child(2) > div:nth-child(2) > nav{
        margin: 0;
        padding: 10px;
    }
    #weda-image-1{
        display: none;
    }
    #weda-image-2{
        display: none;
    }
    .project-title{
        margin: 0;
    }
    #weda-text-div,#zany-text{
        text-align: center;
    }
    #weda-video{
        width: 300px;
        transform: translateX(250px) translateY(50px);
    }
    #tutor-video-1{
        width: 450px;
    }
    #project-3-video-div{
        height: 300px;
    }
    #ai-project-section{
        height: 800px;
    }
    .project-section{
        height: 700px;
    }
    #oop-video2{
        display: none;
        margin: 0;
    }
    #oop-video1{
        margin-top: 0;
        margin-left: 0px;
        width: 250px;
    }
    #oop-text-div{
        margin-left: 0;
        padding: 10px;
    }
    #ui-image-1, #ui-image-2{
        display: none;
    }
    #ui-image-1-desc{
        margin: 0;
        padding: 20px;
    }
    #ui-text-div{
        width: 100%;
    }
    #ui-div-1{
        width: 100%;
        height: 300px;
    }
    #ui-div-2{
        width: 100%;
        height: 500px;
    }
    #ai-companion-text{
        margin-top: 150px;
    }
    #tag-17, #tag-18{
        margin-top: 0;
    }
}