header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}

body{
    scroll-behavior: smooth;
}

header > nav{
    width: 60%;
    height: 70%;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    backdrop-filter: blur(2px);
}

header > nav > div{
    width: 120px;
    height: 90%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

header > nav > div > a{
    font-family: "Outfit", sans-serif;
    color: black;
    text-decoration: none;
}

header > nav > div:hover{
    width: 150px;
    height: 95%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 4px 8px black;
}

#grid{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid black;
    position: relative;
    top: 0;
    opacity: 0.1;
    z-index: 1;
}

#grid > div{
    border: 0.5px solid black;
    transition-duration: 1s;
}

#circle{
    width: 550px;
    height: 550px;
    border-radius: 50%;
    /*border: 0.5px solid black;*/
    position: absolute;
    left: 450px;
    top: 120px;
    animation: circleAnimation 15s linear infinite;
}

#circle > div{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(243, 244, 247);
    position: absolute;
    animation: divCircleAnimation 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#circle > div:nth-child(1){
    left: 400px;
    top: 30px;
}

#circle > div:nth-child(2){
    left: 40px;
    top: 40px;
}

#circle > div:nth-child(3){
    left: 220px;
    top: -30px;
}

#circle > div:nth-child(4){
    left: -20px;
    top: 200px;
}

#circle > div:nth-child(5){
    right: -20px;
    top: 170px;
}

#circle > div:nth-child(6){
    left: 170px;
    bottom: -10px;
}

#circle > div:nth-child(7){
    left: 30px;
    bottom: 90px;
}

#circle > div:nth-child(8){
    right: 0px;
    bottom: 130px;
}

#circle > div:nth-child(9){
    right: 110px;
    bottom: 0px;
}

.tech-icons{
    font-size: 80px;
}

.text-container{
    position: absolute;
    top: 47%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#text-1{
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    padding: 30px;
}

#text-2{
    font-family: "Petit Formal Script", cursive;
}

footer{
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: black;
    flex-direction: column;
    position: relative;
}

.blotter {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(2px);
    z-index: 2;
}

#test{
    width: 100%;
    height: 10vh;
    background-color: red;
    position: relative;
}

#video-div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-div video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) rotate(180deg);
    z-index: 1;
}

#footer-content {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    font-family: "Outfit", sans-serif;
    margin-top: 30px;
    transition-duration: 1s;
}

footer a:hover{
    font-size: 20px;
}

footer nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p{
    text-decoration: underline;
}

.content-div{
    height: 80%;
    font-family: "Outfit", sans-serif;
}

main{
    position: relative;
    background-color: white;
}

main > section:nth-child(1) > p{
    font-family: "Outfit", sans-serif;
    color: black;
    font-size: 30px;
    padding: 30px;
}

.project-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: white;
}

.main-div{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.text-div{
    width: 50%;
    height: 70%;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    padding: 10px;
}

.project-text-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.tag-div{
    width: 100%;
    height: 20%;
}

.tags{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

main > section > div > div:nth-child(2) > div:nth-child(2) > nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 350px;
}

.image-div{
    width: 50%;
    height: 100%;
}

#zany-text{
    margin-top: 100px;
    margin-left: 400px;
    width: 100%;
}

.project-image{
    width: 300px;
    position: absolute;
    z-index: 1;
    transition-duration: 1s;
    border-radius: 30px;
}

.project-image:hover{
    z-index: 2;
    transform: rotate(20deg);
    width: 500px;
}

#zany-image-1{
    left: 100px;
}

#zany-image-2{
    top: 300px;
    left: 400px;
    transform: rotate(20deg);
}

#zany-image-3{
    top: 450px;
    left: 300px;
}

#zany-image-4{
    top: 300px;
    left: 100px;
}

@keyframes circleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes divCircleAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
